<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <h1>Spolecny nadpis</h1>
  </header>
  <nav>
    <ul>
      <li>
        <a href="/">Domů</a>
      </li>
      <li>
        <a href="/recepty">Recepty</a>
      </li>
      <li>
        <a href="/recepty/vytvorit">Nový recept</a>
      </li>
    </ul>
  </nav>
  <main>
    {% block obsah %}{% endblock %}
  </main>
</body>
</html>