{% extends "template.html" %}

{% block content %}
<h2>Shody</h2>
{% if profiles %}
    {% for friend in profiles %}
        <article class="card mb-3" style="width: 18rem;">
            <section class="card-body">
            <h3 class="card-title">{{ friend.name }}</h5>
            <ul class="card-text">
                <li>Věk: {{ friend.age }}</li>
                <li>Záliby:
                    <ul>
                        {% for hobby in friend.hobbies %}
                            <li>{{ hobby }}</li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            </section>
        </article>
    {% endfor %}
{% else %}
    <p>Bohužel nemáte žádné shody.</p>
{% endif %}

{% endblock %}