{% extends "template.html" %}

{% block content %}
<h2>Hledej</h2>
<p>Zapal nebo uhas profil.</p>
{% if profile %}
  <article class="card" style="width: 18rem;">
      <section class="card-body">
        <h3 class="card-title">{{ profile.name }}</h3>
        <ul class="card-text">
          <li>Věk: {{ profile.age }}</li>
          <li>Záliby:
              <ul>
              {% for hobby in profile.hobbies %}
                  <li>{{ hobby }}</li>
              {% endfor %}
              </ul>
          </li>
        </ul>
      </section>
  </article>

  <form action="/search" method="post" class="mt-3" style="width: 18rem;">
    <input type="hidden" name="friend_name" value="{{ profile.name }}">
    <div class="d-flex justify-content-between">
      <button type="submit" class="btn btn-primary flex-fill me-2" name="date_choice" value="like">Like</button>
      <button type="submit" class="btn btn-primary flex-fill" name="date_choice" value="dislike">Dislike</button>
    </div>
  </form>
  
{% else %}
  <p>Žádný profil nenalezen.</p>
{% endif %}
{% endblock %}
