{% extends "template.html" %}

{% block content %}

{% if profiles %}
  <div class="row justify-content-center">
    {% for friend in profiles %}
      <div class="col-md-6 col-lg-4 mb-4">
        <article class="card text-white bg-dark h-100">
          <section class="card-body">
            <h3 class="card-title">{{ friend.name }}</h3>
            <ul class="list-group list-group-flush">
              <li class="list-group-item bg-dark text-light"><strong>Věk:</strong> {{ friend.age }}</li>
              <li class="list-group-item bg-dark text-light"><strong>Záliby:</strong> {{ friend.hobbies | join(", ") }}</li>
            </ul>
          </section>
        </article>
      </div>
    {% endfor %}
  </div>
{% else %}
  <p class="text-center mt-5 fst-italic">Bohužel s nikým nespíte.</p>
{% endif %}

{% endblock %}
