<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pizzeria</title>
</head>
<body>
  <h1>Pizzeria</h1>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/pizzas">Pizzas</a>
      </li>
      <li>
        <a href="/order-pizza">Order pizza</a>
      </li>
      <li>
        <a href="/add-pizza">Add pizza</a>
      </li>
    </ul>
  </nav>
  {% block main %}{% endblock %}
</body>
</html>